.image-gallery-content .image-gallery-slide .image-gallery-image {
  height: 100%;
  object-fit: cover;
  max-height: none;
}
.image-gallery-slide.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 850px;
  @media screen and (max-width: 767px) {
    height: 500px;
  }
  @media screen and (max-width: 520px) {
    height: 350px;
  }
  div {
    height: 100%;
    width: 100%;
  }
}


@media screen and (max-width: 767px) {
  .image-gallery-slide .image-gallery-description {
    height: 80px;
    overflow-y: scroll;
  }
}

